.footer {
    height: 200px;
    background-color: darken($color-darker, 70%);
    &__logo {
        width: 100px;
        //to make the svg white
        filter: invert(100%) sepia(70%) saturate(2104%) hue-rotate(177deg) brightness(130%) contrast(112%);
    }
    &__ul {
        list-style: none;
        padding-left: 0;
        @include desktop-only() {
            display: flex;
            justify-content: space-between;
        }
    }
    &__li {
        display: flex;
        align-items: center;
    }
    & i {
        font-size:small;
        color: white;
        padding-right: 15px;
        margin: 0;
    }
    &__p {
        color: white;
        font-size: 18px;
        margin: 5px 0;
    }
}