.card {
    width: 100%;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: map-get($shadow, shadow-base);
    @include tablet-desktop() {
        width: 48%;
    }
    &__figure {
        width: 100%;
        height: 70%;
        margin: auto;
        position: relative;
        &--new {
            color: darken($color-tertiary, 42%);
            background-color: $color-tertiary;
            position: absolute;
            top: 1px;
            right: 15px;
            font-size: 15px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 2px;
            box-shadow: map-get($shadow, shadow-new);
        }
    }
    &__img {
        @include img;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px 18px 15px;
    }
    &__title {
        margin: 5px 0;
    }
    &__p {
        margin: 0;
        font-weight: 300;
        font-size: 17px;
    }
    &:hover {
        box-shadow: map-get($shadow, shadow-darker);
    }
}