/** Base **/
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: black;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 25px;
    font-weight: 700;
}

a {
    text-decoration: none;
}